################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Sourcing.WebApplication/bin/Debug/netcoreapp3.1
/src/Sourcing.WebApplication/obj
/src/Sourcing.Domain/bin/Debug
/src/Sourcing.Domain/obj
/src/Sourcing.WebApplication/wwwroot/lib
